body {
  font-family: sans-serif;
}

/* Both code (highlighted & content-editable), and SVGs (1 & 2) are overlappy */
code,
output > * {
  grid-column: 1;
  grid-row: 1;
}

pre {
  background: #eee;
  display: grid;
}

code {
  min-height: 4em;
}

code[contenteditable="true"] {
  background: transparent;
  color: transparent;
  caret-color: #d88;
}

.controls {
  display: grid;
  justify-content: start;
}

output {
  border: 2px solid #333;
  display: grid;
  resize: both;
  overflow: auto;
  width: 500px;
}

output svg:nth-of-type(2) {
  color: #d88;
}
